<!doctype html>
<html>
    <%- include("./partials/head.ejs") -%>

    <body>
        <%- include("nav") -%>

        <h1 class="title"><%= title %></h1>

        <div class="stats">
            <div>Items: <strong><%= items.length%></strong></div>
            <div>Categories: <strong><%= categories.length%></strong></div>
            <div>Inventory Value: <strong><%= totalValue%></strong></div>
        </div>

        <h2>Items</h2>
        <div class="item-card-wrapper">
            <% items.forEach(item => { %>
            <div class="item-card">
                <a class="item-card-name" href="<%= item.url %>"
                    ><%= item.name %></a
                >
                <p class="item-card-price">
                    <strong><%= item.priceFormatted %></strong>
                </p>
                <p class="item-category"><%= item.category %></p>
            </div>
            <% }) %>
        </div>
    </body>
</html>
