<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs") -%>
    <body>
        <%- include("nav"); -%>
        <div class="form-wrapper">
            <h1 class="title"><%=title%></h1>
            <form action="" method="post" class="item-form">
                <label for="item-field-name">Name</label>
                <input
                    type="text"
                    id="item-field-name"
                    name="item-name"
                    placeholder="Name"
                    value="<%=name ? name : ''%>"
                    maxlength="150"
                    required
                />
                <% if (nameError) { %>
                <p class="error-text"><%= nameError.msg %></p>
                <% } %>

                <label for="item-field-description"
                    >Description
                    <span class="optional-text">(optional)</span></label
                >
                <textarea
                    id="item-field-description"
                    name="item-description"
                    placeholder="Description"
                    rows="5"
                    maxlength="350"
                >
<%=description ? description : ''%></textarea
                >
                <% if (descriptionError) { %>
                <p class="error-text"><%= descriptionError.msg %></p>
                <% } %>

                <label for="item-field-price"> Price ($)</label>
                <input
                    type="number"
                    id="item-field-price"
                    name="item-price"
                    step="0.01"
                    value="<%=price ? price : ''%>"
                    placeholder="Price in USD"
                    min="0.01"
                    required
                />
                <% if (priceError) { %>
                <p class="error-text"><%= priceError.msg %></p>
                <% } %>

                <label for="item-field-stock">Stock</label>
                <input
                    type="number"
                    id="item-field-stock"
                    name="item-stock"
                    value="<%=stock ? stock : ''%>"
                    placeholder="Amount"
                    min="1"
                    max="1000000"
                    required
                />
                <% if (stockError) { %>
                <p class="error-text"><%= stockError.msg %></p>
                <% } %>

                <label for="item-field-category">Category</label>

                <select name="item-category" id="item-field-category">
                    <% categories.forEach((category) => {%> <% if (selected &&
                    category.name === selected) { %>
                    <option value="<%=category.name %>" selected>
                        <% } else { %>
                    </option>

                    <option value="<%=category.name %>">
                        <% } %> <%= category.name%>
                    </option>
                    <% }) %>
                </select>
                <% if (categoryError) { %>
                <p class="error-text"><%= categoryError.msg %></p>
                <% } %>

                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </body>
</html>
