<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs") -%>
    <body>
        <%- include("nav"); -%>

        <div class="item-wrapper">
            <h1 class="title"><%= title %></h1>
            <div class="item">
                <h2 class="item-name"><%= item.name %></h2>
                <p class="item-price">
                    <strong><%= item.priceFormatted %></strong>
                </p>
                <p class="item-description"><%= item.description %></p>
                <p class="item-stock">In stock: <%= item.stock %></p>
                <p class="item-category"><%= item.category.name %></p>
                <div class="item-link-wrapper">
                    <a href="<%=item.url%>/update-item" class="update-item"
                        >Update Item</a
                    >
                    <a href="<%=item.url%>/delete-item" class="delete-item"
                        >Delete Item</a
                    >
                </div>
            </div>
        </div>
    </body>
</html>
