<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs") -%>
    <body>
        <%- include("nav"); -%>

        <div class="item">
            <h1><%= item.name %></h1>
            <p><strong><%= item.priceFormatted %></strong></p>
            <p class="item-description"><%= item.description %></p>
            <p class="item-stock">In stock: <%= item.stock %></p>
            <p class="category"><%= item.category %></p>
            <div class="item-link-wrapper">
                <a href="<%=item.url%>/update-item" class="update-item-link"
                    >Update Item</a
                >
                <a href="<%=item.url%>/delete-item" class="delete-item-link"
                    >Delete Item</a
                >
            </div>
        </div>
    </body>
</html>
